= simple_form_for(@jewel) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :weight
    = select(:jewel, :category, Jewel.categories_for_select) 

  .form-actions
    = f.button :submit
