= simple_form_for(@jewel) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.file_field :primary_image
    = f.input :weight
    = f.input :category ,:collection => Jewel.categories_for_select , :selected => 1
    = f.input :description
    = f.input :metal_color ,:collection => Jewel.metal_colors_for_select, :selected => 1 
    = f.input :metal_weight ,:collection => Jewel.metal_weights_for_select, :selected => 1 
    = f.input :clarity ,:collection => Jewel.clarities_for_select, :selected => 1 
    = f.input :cut ,:collection => Jewel.cuts_for_select, :selected => 1 
    = f.file_field :birth_image1
    = f.file_field :birth_image2
    = f.file_field :birth_image3
    = f.file_field :birth_image4
    = f.file_field :birth_image5
    = f.file_field :birth_image6

  .form-actions
    = f.button :submit
