%head
  = javascript_include_tag "application"
.page-header
  %h1 Jewels

%table.table.table-striped.table-bordered
  %tr
    %th= t 'activerecord.attributes.jewel.name'
    %th= t 'activerecord.attributes.jewel.description'
    %th= t 'activerecord.attributes.jewel.weight'
    %th= t 'activerecord.attributes.jewel.category'
    %th

  - @jewels.each do |jewel|
    %tr
      %td= jewel.name
      %td= jewel.description
      %td= jewel.weight
      %td= jewel.category
      %td
        = link_to t(:show), jewel, class: 'btn btn-mini'
        = link_to t(:edit), edit_jewel_path(jewel),
          class: 'btn btn-mini'
        = link_to t(:destroy), jewel, 
          :confirm => t(:are_you_sure, default: "Are you sure?"), :method => :delete,
          class: 'btn btn-mini btn-danger'

%br

= link_to new_jewel_path, class: 'btn btn-success' do
  %i.icon-plus.icon-white
  = t(:new_jewel)

.ContentFlow
  .loadIndicator
    .indicator
  .flow
    -@jewels.each do |jewel|
      =link_to jewel do
        =image_tag jewel.primary_image.url
  .globalCaption
  .scrollbar
    .slider
      .position       

