= image_tag @jewel.primary_image.url
%div#description
  %p
#details
  %dl
    %dt Clarity:
    %dd#clarity consectetur
    %dt Weight:
    %dd#weight ectus
  %dt Cut:
  %dd#cut consectetur
  %dt Metal:
  %dd#metal ectus


%div#emptydiv

%div#birth

%p
  %b Description:
  = @jewel.description
%p
  %b Weight:
  = @jewel.weight

= link_to t(:edit), edit_jewel_path(@jewel), class: 'btn'
= link_to t(:back), jewels_path, class: 'btn'
