= image_tag @jewel.primary_image.url, id: "mainimage"
%div#description
  = @jewel.description
#details
  %dl
    %dt Clarity:
    %dd#clarity 
      = @jewel.clarity
    %dt Weight:
    %dd#weight 
      = @jewel.weight
      bla
  %dt Cut:
  %dd#cut 
    = @jewel.cut
  %dt Metal:
  %dd#metal
    = "#{@jewel.metal_color} " "#{@jewel.metal_weight}" 
    Kt


%div#emptydiv

%div#birth

%p
  %b Description:
  = @jewel.description
%p
  %b Weight:
  = @jewel.weight

= link_to t(:edit), edit_jewel_path(@jewel), class: 'btn'
= link_to t(:back), jewels_path, class: 'btn'
