!!!5
%html
%head
  %title App
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  %ul
    %li
      = link_to "Rings", jewels_path(:category => 'rings')
      = link_to "Bracelets", jewels_path(:category => 'bracelets')
      = link_to "Earrings", jewels_path(:category => 'earrings')
      = link_to "Necklaces", jewels_path(:category => 'necklaces')
= yield
