!!!5
%html
%head
  %title App
  = include_gon
  = stylesheet_link_tag    "application", :media => "all"
  = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Eater|Just+Me+Again+Down+Here|Amaranth", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  %div#main
    %div#logoandmenu
      %div#banner
        = link_to image_tag('blacklogo.gif'), root_path
      %div#menu
        %ul#menulist
          %li
            = link_to "Rings", jewels_path(:category => 'rings')
          %li
            = link_to "Bracelets", jewels_path(:category => 'bracelets')
          %li
            = link_to "Earrings", jewels_path(:category => 'earrings')
          %li
            = link_to "Necklaces", jewels_path(:category => 'necklaces')
    %h1{:style => "color: red"}
      = flash[:alert]
    %h1{:style => "color: green"}
      = flash[:notice]

    #content
      = yield

    %div#footer
      %h1
        "your dreams are my reality"


          
